[submodule "/Users/clementwalter/Documents/claudine/external/ethskills"]
	path = /Users/clementwalter/Documents/claudine/external/ethskills
	url = git@github.com:austintgriffith/ethskills.git
[submodule "/Users/clementwalter/Documents/claudine/external/skill-issue"]
	path = /Users/clementwalter/Documents/claudine/external/skill-issue
	url = git@github.com:enitrat/skill-issue.git
[submodule "external/skill-issue"]
	path = external/skill-issue
	url = git@github.com:enitrat/skill-issue.git
[submodule "/Users/clementwalter/Documents/claudine/external/effect-solutions"]
	path = /Users/clementwalter/Documents/claudine/external/effect-solutions
	url = https://github.com/kitlangton/effect-solutions
[submodule "external/effect-solutions"]
	path = external/effect-solutions
	url = https://github.com/kitlangton/effect-solutions
